@import "tailwindcss";

:root {
  --background: #eeeeea;
  --foreground: #171717;

  --accent: rgb(180, 161, 54);

  --text-primary: #111;
  --text-alt: #ffffff;

  --content-max-width: 1200px;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

.column {
  display: flex;
  flex-direction: column;
}

.content {
  max-width: var(--content-max-width);
  padding: 0rem 1rem;
  width: 100%;
  z-index: 3;
}

.content-centered {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 0rem 1rem;
}

.cta-wrapper {
  background-color: var(--foreground);
  color: var(--background);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 5rem 1rem;
}

.grow {
  flex-grow: 1;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-headlines);
  font-weight: 00;
  letter-spacing: -0.05em;
  line-height: 1.2em;
  text-transform: uppercase;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.6rem;
}

.row {
  align-items: center;
  display: flex;
  flex-direction: row;
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 8rem 0rem;
}

.section-alternate {
  background-color: var(--foreground);
  color: var(--background);
}

.section-hero {
  background-color: rgba(100, 100, 100, 0.5);
  color: var(--text-alt);
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-height: 100vh;
  padding: 5rem 1rem;
  position: relative;
  z-index: 3;
}

.sticky {
  align-self: flex-start;
  position: sticky;
  top: 8rem;
}

.tag {
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 200px;
  font-size: 12px;
  line-height: 1.1em;
  padding: 4px 12px;
  text-align: center;
  text-transform: uppercase;
}

.tag-alt {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 200px;
  color: white;
  font-size: 12px;
  line-height: 1.1em;
  padding: 4px 12px;
  text-align: center;
  text-transform: uppercase;
}

.text-quote {
  font-family: var(--font-body);
  font-size: 32px;
  letter-spacing: -0.05em;
  line-height: 1.4em;
  max-width: 560px;
  text-transform: none;
}

.video-hero {
  height: 100vh;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 2;
}

.video-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}

/* HANDY */
@media only screen and (max-width: 968px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  #navbar-links {
    display: none;
  }

  .text-quote {
    font-size: 18px;
  }
}
