.languageIcon {
  border: 1px solid rgba(255, 255, 255, 0.55);
  border-radius: 200px;
  width: 32px;
}

.languages {
  align-items: end;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.teamCard {
  aspect-ratio: 3/4;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
  width: 100%;
}

.teamCard:hover > div > span {
  grid-template-rows: 1fr;
}

.teamCard > div > span {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 0.4s cubic-bezier(0.65, 0, 0.35, 1);
}

.teamCard > div > span > * {
  overflow: hidden;
}

.teamCardContent {
  background: linear-gradient(transparent, transparent, transparent, black);
  border-radius: 20px;
  color: var(--text-alt);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.5rem;
  width: 100%;
  z-index: 5;
}
